/* ------------------ Fuentes ------------------ */
@font-face {
    font-family: "Coolvetica";
    src: url("../Fuente/Coolvetica Rg.otf");
    font-display: swap;
}

@font-face {
    font-family: "Lined";
    src: url("../Fuente/Lined.ttf");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lined", sans-serif;
}

.hidden {
    display: none !important;
}
/* ------------------ Header ------------------ */
.header {
    font-family: "Coolvetica";
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    background-color: #0E021F;
    border-bottom: 0.5px solid #FFF;
    z-index: 1000;
    padding-left: 30px;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-right: 40px;
}

.nav_logo {
    color: #FFF;
    font-size: 40px;
    text-decoration: none;
    transition: color 0.4s;
}

    .nav_logo:hover {
        color: beige;
    }

.nav_menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

    .nav_list a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        transition: color 0.3s ease-in-out;
    }

        .nav_list a:hover {
            color: beige;
        }

    .nav_list img {
        margin-top: 13px;
        height: 40px;
        transition: transform 0.3s;
    }

        .nav_list img:hover {
            transform: scale(1.1);
        }

/* --- CONTENIDO PRINCIPAL --- */

.container {
    padding: 75px;
}

.admin-container {
    width: 90%;
    margin-top: 90px;
    margin: 40px auto;
    background: white;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.1);
}

.title {
    font-family: 'Coolvetica';
    font-size: 28px;
    font-weight: bold;
    margin: 35px;
    color: #1a1a1a;
}


.filter-row {
    display: flex;
    gap: 15px;
    padding: 20px;
    align-items: center;
    margin-bottom: 20px;
    border-top: #e3e3e3 0.5px solid;
    width: 500px;
}

.input-search {
    flex: 1;
    font-size: 18px;
    font-family: 'Lined';
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.btn-search,
.filter-btn {
    background: #11001F;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.table-container {
    border-top: #e3e3e3 0.5px solid;
    padding: 5px;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0px;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.1);
    border-radius: 20px;
    border-bottom: 15px;
}

    .table th {
        text-align: left;
        padding: 12px;
        background: #f1f1f1;
        font-weight: bold;
        font-size: 18px;
    }


    .table td {
        padding: 12px;
    }

    .table input {
        outline: none;
        font-size: 18px;
        border: none;
        padding: 8px;
        color: #11001F;
        font-family: 'Lined';
        border-bottom: #e3e3e3 0.5px solid;
    }

.actions {
    display: flex;
    gap: 10px;
}

.btn-edit {
    background: #fff;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    color: #1a1a1a;
    padding: 8px 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s ease-in-out 0.1s;
}

.btn-delete {
    background: #11001F;
    color: white;
    padding: 8px 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s ease-in-out 0.1s;
}

    .btn-delete:hover {
        background: #240042;
        color: white;
        transform: scale(1.05);
    }

.btn-edit:hover {
    background: #f8f8f8;
    color: #11001F;
    transform: scale(1.05);
}

/* --- FOOTER --- */
.footer {
    text-align: center;
    padding: 1rem;
    background: #120b22;
    color: white;
    margin-top: 3rem;
}

/*------------------Modal de Confirmación ----------------------- */
.modal-overlay {
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modal-box {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0 5px 18px rgba(0,0,0,0.5);
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#btnNo {
    font-family: 'Coolvetica';
    font-size: 15px;
    box-shadow: 0 5px 10px rgba(154, 154, 154, 0.5);
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    color: #11001F;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease-in-out 0.1s;
}

#btnYes {
    font-family: 'Coolvetica';
    font-size: 15px;
    background: #11001F;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease-in-out 0.1s;
}

    #btnYes:hover {
        background: #240042;
        color: white;
        transform: scale(1.05);
    }

#btnNo:hover {
    background: #f8f8f8;
    color: #0d0017;
    transform: scale(1.05);
}

#modalMessage {
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
}

.actions {
    display: flex;
    gap: 8px;
}

/*--------------Mensaje de confirmación-----------*/
.alert-success,
.alert-error {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    border-radius: 8px;
    font-family: "Coolvetica";
    font-size: 18px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    opacity: 0;
    animation: fadeInOut 4s forwards;
    z-index: 99999;
}

.alert-success {
    background: #1b9c36;
    color: white;
}

.alert-error {
    background: #b91313;
    color: white;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}
 
